:root {
    --accent-orange-color: #FF6C00;
    --accent-white-color: #FFFFFF;
    --primary-title-color: #303030;
    --secondary-title-color: #ffffff;
    --pre-title-color-light: rgba(157, 164, 189, 0.6);
    --pre-title-color-dark: #303030;
    --after-title-color-light: #9DA4BD;
    --after-title-color-dark: #555555;
    --about-text-color: #555555;
    --primary-text-color: #9DA4BD;
    --btn-dark-text-color: #ffffff;
    --btn-light-text-color: #303030;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    /* max-width: 100%; */
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    min-width: 160px;
    height: 40px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    background-color: transparent;
    border: 1px solid var(--accent-orange-color);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 300ms linear;
}

.btn-dark {
    color: var(--btn-dark-text-color);
}

.btn-dark:hover,
.btn-dark:focus {
    background-color: var(--accent-orange-color);
}

.btn-light {
    color: var(--btn-light-text-color);
    transition: color 300ms linear, background-color 300ms linear;
}

.btn-light:hover,
.btn-light:focus {
    color: #ffffff;
    background-color: var(--accent-orange-color);
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    display: flex;
    align-items: center;
}

.pre-title::before {
    content: "";
    height: 1px;
    width: 62.99px;
    margin-right: 21px;
    
}

.pre-title-light {
    color: var(--pre-title-color-light);
}

.pre-title-light::before {
    background: var(--pre-title-color-light);
}

.pre-title-dark {
    color: var(--pre-title-color-dark);
}

.pre-title-dark::before {
    background: var(--pre-title-color-dark);
}

.after-title-light {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--after-title-color-light);
}

.after-title-dark {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--after-title-color-dark);
}

.primary-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: var(--primary-title-color);
}

.secondary-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: var(--secondary-title-color);
}

/* ----HEADER---- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-connect {
    margin-left: auto;
}

.logo {
    margin-right: 70px;
    scale: 1;
    transition: scale 300ms linear, fill 300ms linear;
}

.logo:hover,
.logo:focus {
    fill: var(--accent-orange-color);
    scale: 1.2;
    /* outline: none; */
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
margin-right: 40px;
}

.nav-menu, 
.menu-tel {
    display: inline-block;
    padding-top: 43px;
    padding-bottom: 43px;
    cursor: pointer;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;

    color: var(--accent-white-color);
    transition: color 300ms linear;
}

.menu-tel {
    margin-right: 40px;
}

.nav-menu:hover,
.menu-tel:hover,
.nav-menu:focus, 
.menu-tel:focus {
    color: var(--accent-orange-color);
    /* outline: none; */
}

/* ----HERO---- */
.hero-container {
    display: flex;
}

.hero-left {
width: 93px;
display: flex;
align-items: flex-end;

padding-left: 24px;
padding-bottom: 22px;
}

.hero-list {
    display: flex;
    transform: rotate(-90deg);
    transform-origin: top left;
    align-items: center;
}

.hero-list::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;

    background-color: var(--primary-title-color);
}

.hero-icon:not(:last-child) {
margin-right: 40px;
}

.social-link-hero {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    
    color: var(--primary-title-color);
    transition: color 300ms linear;
}

.social-link-hero:hover,
.social-link-hero:focus {
    color: var(--accent-orange-color);
}

.hero-right {
    flex-grow: 1;
    padding-top: 267px;
    padding-bottom: 203px;
    padding-left: 99px;
    flex-grow: 1;
    background-color: #555555;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider-img-3.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    
    color: var(--secondary-title-color);
}

.hero-after-title {
    width: 400px;
}

/* ----ABOUT---- */

.about {
    padding-top: 163px;
    padding-bottom: 88px;
}

.about-container {
    display: flex;
}

.about-list {
    display: flex;
    margin-right: 64px;
}

.about-item:not(:last-child) {
    margin-right: 30px;
}

.about-pre-title,
.about-title,
.about-after-title {
    margin-bottom: 18px;
}

.about-text {
    width: 500px;
    margin-bottom: 37px;

    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
    
    color: var(--about-text-color);
}

/* ----PRICE---- */

.price {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #111319;
    background-image: url(../images/prices-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.price-pre-title {
    margin-bottom: 20px;
}

.price-title {
    margin-bottom: 44px;
}

.prices-wrapper {
    display: flex;
    margin-bottom: 50px;
}

.price-list {
    width: 50%;
    padding: 30px 40px;
}

.price-list-left {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-right {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price-item:not(:last-child) {
    margin-bottom: 20px;
}

.price-item::before {
    content: "";
    display: block;
    margin-right: 6px;
    margin-left: 6px;
    height: 1px;
    width: 100%;
    background: rgba(157, 164, 189, 0.12);
}

.price-text-linear {
    order: -1;
}

.price-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    flex-shrink: 0;

    color: var(--primary-text-color);
}

.price-btn {
    display: block;
    margin: 0 auto;
}


/* ----REASONS---- */

.reasons {
    padding-top: 143px;
    padding-bottom: 137px;
}

.reasons-container {
display: flex;

}

.reasons-left {
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.reasons-left-item {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    text-align: center;
    background-color: #F7F7F7;
}

.reasons-left-item:nth-child(odd) {
margin-right: 30px;
}

.reasons-left-item:nth-child(even) {
    margin-top: 30px;
}

.reasons-right {
    width: 50%;
    padding-left: 15px;
    padding-right: 113px;
}

.reasons-count {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;
    text-align: center;
    
    color: #303030;
}

.reasons-count::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    text-align: end;
    color: var(--accent-orange-color);
}

.reasons-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    
    color: #303030;
}

.reasons-pre-title,
.reasons-title {
    margin-bottom: 20px;
}

/* ---MASTERS---- */

.masters {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #F7F7F7;
}

.masters-pre-title {
    margin-bottom: 20px;
}

.masters-primary-title {
    margin-bottom: 44px;
}

.masters-list {
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
}

.masters-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.masters-item-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.masters-title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    text-align: center;
    
    color: var(--primary-title-color);
}

.masters-text {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    
    color: var(--accent-orange-color);
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-item:not(:last-child) {
margin-right: 10px;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #ffffff;
}

.social-icon {
    transition: fill 300ms linear;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--accent-orange-color);
}


/* GALLERY */

.gallery {
    padding-top: 130px;
    padding-bottom: 130px;
}

.gallery-pre-title {
    margin-bottom: 44px;
}

.gallery-list {
    display: flex;
    margin-right: -30px;
}

.gallery-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

/* ----ONLINE---- */

.online {
    background-color: #555555;
}

/* ----CONTACTS---- */

.contacts {
    background-color: #191C26;
}

.contacts-title {
    margin-bottom: 40px;
}

.address {
    margin-bottom: 70px;
}

.address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);

    transition: color 300ms linear;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-orange-color);
}

.address-item {
    display: flex;
    align-items: center;
}

.address-icon:hover {
fill: var(--accent-orange-color);
}

.address-icon {
    margin-right: 16px;
}

.time-text {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    margin-bottom: 20px;
    
    color: var(--accent-white-color);
}

.time-text::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 20px;

    background-color: rgba(157, 164, 189, 0.4);
}

.time {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-color);
}

/* ----FOOTER---- */

.footer{
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.copyright {
    
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    
    color: var(--primary-text-color);
}

.span-copy {
    font-weight: 600;
    font-size: 15px;
    
    color: var(--primary-text-color);
}

.footer-list {
    display: flex;
    align-items: center;
}

.footer-list::before {
    content: "";
    width: 60px;
    height: 1px;
    margin-right: 40px;

    background-color: #303030;
}

.footer-item:first-child {
    margin-right: 40px;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    
    color: #303030;

    transition: color 300ms linear;
}

.footer-link:hover {
    color: var(--accent-orange-color);
}